In [1]:
num1 = 10
num2 = 20
num3 = 10

In [2]:
id(num1)

1546098272848

In [3]:
id(num2)

1546098273168

In [4]:
id(num3)

1546098272848

In [5]:
num1 = 40
id(num1)

1546098273808

In [6]:
num3 = 50
id(num3)

1546098274128

Mutablility and immutability in python :
1. Mutability - Mutable datatypes are the datatypes which can be updated and changed during the runtime.
e.g List, set, dictionary.

2. Immutability - Immutable datatypes are the datatypes which can not be changed or updated after the declaration. e.g
Int, float, complex, string, tuple, boolean.

In [8]:
number = 14532
print(id(number))
number = 1453
print(id(number))
print(number)

1546183080048
1546183079312
1453

In [9]:
number = 14.234
print(id(number))
number = 14.23
print(id(number))
print(number)

1546183080272
1546183079408
14.23

In [10]:
number = 4 + 5j
print(id(number))
number = 5 + 4j
print(id(number))
print(number)

1546183079696
1546183080432
(5+4j)

index - index is the reference given to each item in a sequence datatype. It starts with 0 and the last index is equal to length of the data - 1

In [14]:
string = "PYTHON"
# string[5] = 'M'    --- It will raise type error
string[2]

'T'

In [17]:
list = [10,12,14,15,16,19,20]
list[5] = 18
list

[10, 12, 14, 15, 16, 18, 20]

In [19]:
tuple = (11,13,14,15,17,18,22,25)
tuple[4] = 32

TypeError: 'tuple' object does not support item assignment

In [24]:
set = {12,13,14,15,17,19,20,22,25,32,11}

{11, 12, 13, 14, 15, 17, 19, 20, 22, 25}

In [35]:
set.add(32)
set

{10, 25, 32}

In [36]:
dict1 = {
    'Name' : 'ABC',
    'Age' : 10,
    'Class' : 3,
    'Grade' : 'A+'
}

In [37]:
dict1['Age'] = 11
dict1

{'Name': 'ABC', 'Age': 11, 'Class': 3, 'Grade': 'A+'}

In [38]:
dict1['School'] = 'XYZ CONVENT SCHOOL'
dict1

{'Name': 'ABC',
 'Age': 11,
 'Class': 3,
 'Grade': 'A+',
 'School': 'XYZ CONVENT SCHOOL'}

In [40]:
dict1

{'Name': 'ABC', 'Class': 3, 'Grade': 'A+', 'School': 'XYZ CONVENT SCHOOL'}

In [39]:
dict1.pop('Age')

11

In [48]:
# Positive and negative indexing

#       0,  1, 2, 3, 4, 5, 6, 7, 8   --> Positive indexing
list = [11,12,14,15,17,90,76,56,45]
#      -9,-8,-7,-6, -5 ,-4,-3 ,-2,-1 --> Negative indexing

list[7]
list[-4]

56

In [3]:
# Slicing operator
list = [1,2,3,4,5,6,7,8,9,11,14] 
print(list[2:8])              # positive indexing
print(list[-7:-3])
print(list[-1:-8])         # Negative indexing
print(list[::-1])

[3, 4, 5, 6, 7, 8]
[5, 6, 7, 8]
[]
[14, 11, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [53]:
string1 = "This is python class"
string1[0:15]

'This is python '

In [54]:
tuple1 = (1,2,3,4,5,5,3,2,4,2,1,4,4,3)
tuple1[2:9]

(3, 4, 5, 5, 3, 2, 4)

In [57]:
tuple1[:5]                 # from starting till any index

(1, 2, 3, 4, 5)

In [60]:
tuple1[6::]                # from any index till end

(3, 2, 4, 2, 1, 4, 4, 3)