LIST DATATYPE : 
# List is a sequencial datatype which is used to store collection of data.
# A list is a heterogenous collection of elements.
# It is mutable in nature. We can modify the elements after initialization of list.

# Inbuilt methods of list datatype : 
1. append() - The append method is used to add a new element to the list.
2. insert(index,element) : This method is used to add a new element at a specific index.
3. extend(list) : This method is used to join another list at the end of existing list.
4. pop(index) : Tlhis method is used to remove an element from the list by its index and by default it removes the last element.
5. remove(value) : This method is used to remove an element from the list by its value.
6. clear() : This method is used to remove all the elements from the list and makes it empty.
7. join() : This method is used to join all the elements of list and make it a string.
8. len() : This method is used to find the total number of elements in list.
9. sort() : This method is used to sort the values in ascending or descending order

In [2]:
# append() :
list = [12,14,15]
element = 30
list.append(20)
list.append(element)
print(list)

[12, 14, 15, 20, 30]

In [5]:
# insert(index,element) : 
list = [10,11,12,14,15,16]
list.insert(2,100)
list

[10, 11, 100, 12, 14, 15, 16]

In [6]:
# extend() :
list1 = [1,2,3,4,5]
list2 = [6,7,8,9,0]
list1.extend(list2)
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [14]:
# pop() :
list = [10,11,12,14,15,16]
list.pop(0)
list

[11, 12, 14, 15, 16]

In [20]:
# remove() :
list = [10,11,12,14,15,16,11,'A',"Python"]
list.remove(10)

# while True:
#     if 11 in list:
#         list.remove(11)
#     else:
#         break

# for i in range(1,21):
#     list.remove(11)

list

[11, 12, 14, 15, 16, 11, 'A', 'Python']

In [22]:
# clear()
list = [10,11,12,14,15,16,11]
list.clear()
print(list)
list.append(1)
list

[]

[1]

In [24]:
# join()
list = ['9','8','7','6','5','4','3','2','1','0']
"".join(list)

'9876543210'

In [25]:
# len() 
list = [10,11,12,14,15,16]
length = len(list)
length

6

In [30]:
# sort()
list = [15,13,28,20,11,40,56,32,10]
list.sort(reverse = True)
list

[56, 40, 32, 28, 20, 15, 13, 11, 10]

In [32]:
# sort()
list = ["red","green","blue","Yellow","Orange","pink","White"]
list.sort()
list

['Orange', 'White', 'Yellow', 'blue', 'green', 'pink', 'red']

In [34]:
# Modify an element of list.

list = [56, 40, 32, 28, 20, 15, 13, 11, 10]
list[1] = 60
list

[56, 60, 32, 28, 20, 15, 13, 11, 10]

In [37]:
# index()
list = [56, 40, 32, 28, 20, 15, 13, 11, 10]
list.index(15)

5

In [38]:
# slicing in list : 
list = [56, 40, 32, 28, 20, 15, 13, 11, 10]
list[2:8]

[32, 28, 20, 15, 13, 11]

In [39]:
list = [10,11,12,14,14]
multiply = 1
for i in list:
    multiply*=i

print(multiply)

258720

In [40]:
list = [2,3,4,5,6]
list2 = [4,5,6,7,8]
final_list = []
for i in list:
    print(i)

    for j in list2:
        print(i,j)
        final_list.append(i+j)


# [6, 7, 8, 9, 10, 7, 8, 9, 10, 11, 8, 9, 10, 11, 12, 9, 10, 11, 12, 13, 10, 11, 12, 13, 14]

2
2 4
2 5
2 6
2 7
2 8
3
3 4
3 5
3 6
3 7
3 8
4
4 4
4 5
4 6
4 7
4 8
5
5 4
5 5
5 6
5 7
5 8
6
6 4
6 5
6 6
6 7
6 8

In [41]:
print(final_list)

[6, 7, 8, 9, 10, 7, 8, 9, 10, 11, 8, 9, 10, 11, 12, 9, 10, 11, 12, 13, 10, 11, 12, 13, 14]

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6

In [ ]:
# n = 6 
# print(1, end = " ")
# print()

# 1 2 3 4