In [ ]:
# Tuple : 
'''
tuple is a sequence datatype, it is a heterogeneous collection of elements.
tuples are ordered. It allows indexing of elements.
tuples are immutable, we cannot add, delete or modify an element in a tuple.
Since tuples doesnot allow modification so tuples are faster than list.
tuples are used for data security.

'''

In [8]:
# Defining a tuple :
tuple1 = (2,3,5,6,7)
print(type(tuple1))

tuple2 = tuple((1,2,3,4))
print(type(tuple2))

tuple3 = tuple()
print(type(tuple3))

tuple4 = (3,)
print(type(tuple4))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [13]:
# Accessing elements of a tuple 
tup1 = (12,'A',13.00,"tuples",[1,2,3,4],('a','b'),100,200,12,12,13.00)
print(tup1[4])

tup2 = tup1[5]
print(tup2)

[1, 2, 3, 4]
('a', 'b')

In [12]:
# len() :

l = len(tup1)
print(l)

8

In [14]:
# count() : 
c = tup1.count(12)
print(c)

3

In [15]:
list1 = list(tup1)
print(list1)

[12, 'A', 13.0, 'tuples', [1, 2, 3, 4], ('a', 'b'), 100, 200, 12, 12, 13.0]

In [17]:
list1[2] = 200
list1

tup1 = tuple(list1)
print(tup1)

(12, 'A', 200, 'tuples', [1, 2, 3, 4], ('a', 'b'), 100, 200, 12, 12, 13.0)

In [20]:
# concatenation 
tuple1 = (1,2,3,4)
tuple2 = (5,6,7,8)
tuple3 = tuple1 + tuple2
print(tuple3)

(1, 2, 3, 4, 5, 6, 7, 8)

In [21]:
# multiplication 
tuple1 = (1,2,3,4)
tuple1 * 3

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [26]:
# slicing in tuple

tup1[1:8]
tup1[:6]
tup1[3:]
tup1[::-1]
tup1[-7:-1]

([1, 2, 3, 4], ('a', 'b'), 100, 200, 12, 12)

In [27]:
for i in range(len(tup1)):
    print(tup1[i])

12
A
200
tuples
[1, 2, 3, 4]
('a', 'b')
100
200
12
12
13.0

In [28]:
for i in tup1:
    print(i)

12
A
200
tuples
[1, 2, 3, 4]
('a', 'b')
100
200
12
12
13.0

In [31]:
i = 0

while i < len(tup1):
    print(tup1[i])
    i+=1

12
A
200
tuples
[1, 2, 3, 4]
('a', 'b')
100
200
12
12
13.0

Write a Python program to find repeated items in a tuple.

In [34]:
tup1 = (12, 'A', 200, 'tuples', [1, 2, 3, 4], ('a', 'b'), 100, 200, 12, 12, 13.0)
dict1 = {}
for i in tup1:
    c = tup1.count(i)
    if c>1:
        dict1[i] = c

print(dict1)

{12: 3, 200: 2}

In [36]:
# Write a program to remove an element from an tuple.

tup1 = (12, 'A', 200, 'tuples', [1, 2, 3, 4], ('a', 'b'), 100, 200, 12, 12, 13.0)
# method1 
tup1 = tup1[:3] + tup1[4:]
print(tup1)

(12, 'A', 200, [1, 2, 3, 4], ('a', 'b'), 100, 200, 12, 12, 13.0)

In [38]:
tup1 = (12, 'A', 200, 'tuples', [1, 2, 3, 4], ('a', 'b'), 100, 200, 12, 12, 13.0)
lst = list(tup1)
lst.remove('tuples')
tup1 = tuple(lst)
print(tup1)

(12, 'A', 200, [1, 2, 3, 4], ('a', 'b'), 100, 200, 12, 12, 13.0)

In [40]:
# converting a tuple into dictionary 
tup = ((1,2),(3,4),(5,6),(7,8))
dict1 = dict((y,x) for x,y in tup)
print(dict1)

{2: 1, 4: 3, 6: 5, 8: 7}

In [42]:
# converting a dict into a tuple
dict1 = {2: 1, 4: 3, 6: 5, 8: 7}
tup = tuple(dict1.items())
tup

((2, 1), (4, 3), (6, 5), (8, 7))

In [45]:
n = 5
for i in range(1,n+1):
    for j in range(i):
        print("*",end = " ")

    print()

for i in range(n,0,-1):
    for j in range(1,i):
        print("*",end = " ")

    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

# using nested loops

  * * * 
*       *
*       *
* * * * *
*       *
*       *

In [ ]:
n = 7
for i in range(n):
    for j in range(i):
        if (i != 0 and j == 1 or j == 5)